<p>template-drive-form works!</p>
<form (ngSubmit)="submitForm()">
  Name: <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" />
  <br>
  <!-- <button (click)="submitForm()" type="submit">Submit</button> -->
  <button>Submit 2</button>
</form>