<p>about works!</p>
    
<div>
    <label>Please choose login name:</label>
    <input [(ngModel)]="login" type="text">
  </div>
  
  <div [ngSwitch]="login">
    <div *ngSwitchCase="'user'">
      User is logged in...
    </div>
    <div *ngSwitchCase="'admin'">
      Admin is logged in...
    </div>
    <div *ngSwitchDefault>
      Please choose a valid login name.
    </div>
  </div>
<span>Counter = {{counter}}</span> <br> 
<span>Counter ^ 2 = {{counterBinhPhuong}}</span>  