<p>reactive-form works!</p>
<form [formGroup]="formData" (ngSubmit)="submitForm()">
  <label>
    Name: <input type="text" formControlName = "name"/><br/>
    <!-- <span *ngIf="!formData.controls.name.valid" style="color:red">Name is required</span> -->
  </label>
  <br>
  <label>
    Age: <input type="text" formControlName = "age"/><br/>
  </label>
  <button type="submit" [disabled]="!formData.valid">Submit</button>
</form>