<h1>Hello world !</h1>
<h1>Chào bạn, bạn đang học Angular 12</h1>
<h1>Chúc bạn học tập tốt</h1>

<nav>
    <ul>
        <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About Component</a>
        </li>
        <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home Component</a>
        </li>
        <li><a routerLink="/templateForm" routerLinkActive="active" ariaCurrentWhenActive="page">Template Driven Form Component</a>
        </li>
        <li><a routerLink="/reactiveForm" routerLinkActive="active" ariaCurrentWhenActive="page">Reactive Form Component</a>
        </li>
        <li><a routerLink="/getData" routerLinkActive="active" ariaCurrentWhenActive="page">Get Data Component</a>
        </li>
        <li><a routerLink="/postData" routerLinkActive="active" ariaCurrentWhenActive="page">Post Data Component</a>
        </li>
    </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
