<div id="test">
  <h2>Chào bạn {{ name }}!</h2>
  <input type="text" [(ngModel)]="name" />
  <br />
  <button (click)="resetName()">Reset Name</button><br />

  Tỉnh/ Thành Phố:
  <select id="city" (change)="changeCity($event)">
    <option *ngFor="let data of vietNamData" value="{{data.city}}">
      {{ data.city }}
    </option>
  </select>
  <br />
  Quận/ Huyện:
  <select id="district">
    <option *ngFor="let district of districts" value="{{district}}">
        {{district}}
    </option>
  </select>
  
  <h2>Tuổi của bạn {{ age }}!</h2>
  <input type="text" [(ngModel)]="age" />
  <div *ngIf="age <=18; then tre; else gia"></div>
  <ng-template #tre><h2>Bạn còn trẻ quá !</h2></ng-template>
  <ng-template #gia><h2>Bạn quá già rồi !</h2></ng-template>



  <table id="table2">
        <tr>
            <th>Thứ tự</th>
            <th>Tên</th>
            <th>Giá</th>
            <th>Khuyến mại</th>
        </tr>
        <tr *ngFor="let trai of traiCay2; let i= index">
            <td>{{i+1}}</td>
            <td>{{trai.ten}}</td>
            <td [ngClass]="{'so-am':trai.gia < 0}">{{trai.gia}}</td>
            <td *ngIf="trai.haGia">Đang hạ giá</td>
        </tr>
    </table>
</div>
